<router-outlet></router-outlet>

<input type="text" #input1/>
<br>
<button class="btn btn-secondary" (click)="doSearch(input1.value)">Search</button>
<br>
<br>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>User Name</th>
        <th>Email</th>
    </tr>
    <tr *ngFor="let user of Users; let i=index">
        <td>{{user.userId}}</td>
        <td><a [routerLink]="['userdetails', user.userId]">{{user.name}}</a></td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>

        <td *ngIf="isAdmin"><button class="btn btn-danger" (click)="delete(i+1)">Delete</button></td>
    </tr>
</table>
